
.k-tabstrip {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #CCC;
	background: #FFF;
	margin: 0;
	h3 {
		border-top: none;
	}
	[class*="span"] {
		margin: 0;
	}
	.k-content {
		margin: 0;
		padding: 0;
		float: none;
		background: #FFF;
		border: none;
		margin-top: 10px;
	}
	.k-tabstrip-items {
		padding: 0.5em 0.5em 0;
		border-style: solid;
		border-color: #444;
		border-width: 0px 0 1px 0;
		.k-link {
			text-decoration: none;
			.lh-background-image(linear-gradient(to bottom, @gradientGreyStop1 0%, @gradientGreyStop2 100%));
		}
		.k-item {
			margin-right: 0.5em;
		}
	}
	.k-tab-on-top {
		border-color: #666;
		.k-link {
			border-top: 5px solid #00A6CF;
			line-height: 15px;
			background: #FFF;
			filter: none;
		}
	}
	.k-state-default.k-state-hover, .k-state-default.k-state-hover:hover{
		.lh-box-shadow(none);
		border-color: @highlightBorderColor;
		border-width: 1px 1px 0 1px;
	}

}
