a.k-button {
	&:link, &:visited, &:hover, &:active {
		min-width: 0;
		color: #FFF;
		text-decoration: none;
		border: 1px solid #1C81BD;
	}
}

.k-button {
	min-width: 0;
	color: #FFF;
	text-decoration: none;
	border: 1px solid #1C81BD;
	.lh-box-shadow (none);
	.lh-background-image(linear-gradient(to bottom, @gradientBlueStop1 0%,@gradientBlueStop2 100%));
	&:active, &:hover {
		.lh-background-image(linear-gradient(to bottom, @gradientBlueStop1 0%,@gradientBlueStop2 100%));
	}

	&.cancelBtn, &.cancelBtn:hover {
		.lh-background-image(linear-gradient(to bottom, @gradientGreyStop1 0%,@gradientGreyStop1 100%));
	}

	&.disabled {
		cursor: default;
	}
}

.k-secondary {
	.k-button:hover {
		.lh-background-image(linear-gradient(to bottom, @gradientBlueStop1 0%,@gradientBlueStop2 100%));
	}

	.k-grid-cancel:hover {
		.lh-background-image(linear-gradient(to bottom, @gradientCancelStop1 0%,@gradientCancelStop2 100%));
	}
}

.k-filter-menu {
	input {
		padding: 12px 5px;
		margin-top: 7px;
	}

	.k-button {
		.k-button ();
		&:link, &:visited, &:hover, &:active {
			min-width: 0;
			color: #FFF;
			text-decoration: none;
			border: 1px solid #1C81BD;
		}
	}
}

.k-state-hover, .k-state-hover:hover {
	border-color: #ccc;
}

a.k-grid-update {
	&.disabled {
		cursor: default;
		.lh-opacity (.60);
	}
}

a.k-grid-cancel {
	&:link, &:visited, &:hover, &:active {
		color: #333;
		text-decoration: none;
		border: 1px solid #CCC;
		.lh-box-shadow (none);
		&.disabled {
			cursor: default;
			color: #666;
			.lh-opacity (.60);
		}
	}
}

.k-grid-cancel {
	color: #333;
	text-decoration: none;
	border: 1px solid #CCC;
	.lh-box-shadow (none);
	.lh-background-image(linear-gradient(to bottom, @gradientCancelStop1 0%,@gradientCancelStop2 100%));
	&:active, &:hover {
		.lh-background-image(linear-gradient(to bottom, @gradientCancelStop1 0%,@gradientCancelStop2 100%));
		text-decoration: none;
	}
}

.k-state-selected, .k-state-selected:hover, .k-list > .k-state-selected {
	.lh-background-image(linear-gradient(to bottom, @gradientBlueStop1 0%,@gradientBlueStop2 100%));
}

.k-draghandle.k-state-selected:hover {
	.lh-background-image(linear-gradient(to bottom, @gradientCancelStop1 0%,@gradientCancelStop2 100%));
}

.k-state-focused.k-state-selected {
}

.k-edit-form-container {
	width: 100%;
}

.k-list {
	background: #EBEBEB;
	.lh-background-image(linear-gradient(to bottom, #ebebeb 0%, #FFFFFF 50%, #FFFFFF 51%, #FFFFFF 100%));
	.k-item {
		padding: 1px 5px;
		border: 0px solid #CCC;
		&.k-state-selected.k-state-focused, &.k-state-selected.k-state-focused.k-state-hover {
			color: #FFF;
			.lh-background-image(linear-gradient(to bottom, #197dba 0%, #3c9ed6 100%));
			padding: 1px 5px;
			min-width: 0;
			text-decoration: none;
			.lh-box-shadow (none);
			//border-width: 1px;
		}

		&.k-state-hover {
			.lh-background-image(linear-gradient(to bottom, #f6f6f6 0%, #ebebeb 100%));
			padding: 0px 4px 0 4px;
			//padding: 1px 5px;
		}

		&.k-state-selected {
			.lh-background-image(linear-gradient(to bottom, #f6f6f6 0%, #ebebeb 100%));
			padding: 1px 5px;
			//border-width: 1px;
		}
	}
}

.ciItem {
	&.k-list-container, &.k-popup {
		.lh-box-shadow (none);
		.lh-border-radius (0);
		min-width: 175px;
		border: none;
		.lh-background-image(linear-gradient(to bottom, #f6f6f6 0%, #ebebeb 100%));
	}

	.k-state-focused.k-state-selected {
		background: #eee;
		background-image: none;
		border: 1px solid @outerBorderColor;
	}

	&.k-popup .k-list .k-item:first-child {
		border-top-width: 1px;
	}

	&.k-popup .k-list .k-item {
		padding: 0 4px;
		border-style: solid;
		border-color: #DFDFD0;
		.lh-border-radius (0);
		border-width: 0 1px 1px 1px;
		font-weight: normal;
	}

	&.phoneNumberDropDownList .k-item {
		font-size: 13px;
		color: #000;
		.phoneNumber {
			margin-left: 20px;
			font-weight: bold;
			border-left: 1px solid #000;
			padding-left: 10px;
		}
	}

	.k-list {
		.k-item {
			&.k-state-selected.k-state-focused, &.k-state-selected.k-state-focused.k-state-hover {
				padding: 0 4px;
			}
		}
	}

	.k-state-default, .cmcWP & .k-state-default {
		.k-input, .k-select {
			background: transparent;
			border: none;
		}

		&.k-state-hover {
			.k-input, .k-select {
				background: transparent;
			}
		}
	}

	.k-item.k-state-selected.k-state-focused {
		color: #FFF;
		.lh-background-image(linear-gradient(to bottom, #197dba 0%, #3c9ed6 100%));
	}
}

