@import "kendo.grid.less";
@import "kendo.tabstrip.less";

& + .k-edit-buttons, .k-edit-buttons {
	border-top: 1px solid #CCCCCC;
	background-color: #EEEEEE;
	padding: 0;
	text-align: right;
	a.k-button {
		padding: 5px;
		margin: 10px 10px 10px 0;
		min-width: 80px;
	}

	span.k-icon {
		display: none;
	}
}

.k-state-default {
	.k-input, .k-select {
		background-color: #fff;
	}

	&.k-state-hover {
		.k-input, .k-select {
			.lh-background-image(linear-gradient(to bottom, #f6f6f6 0%, #ebebeb 100%));
		}
	}
}

.k-dropdown-wrap.k-state-focused, .ciItem .k-dropdown-wrap.k-state-focused {
	border-color: rgba(82, 168, 236, .8);
	outline: 3px auto -webkit-focus-ring-color;
	outline: thin dotted \9;
}

.k-dropdown-wrap.k-state-border-down, .k-dropdown-wrap.k-state-active {
	border-bottom-width: 1px;
	padding-bottom: 0;
}

.k-multiselect.k-state-focused, .ciItem .k-dropdown-wrap.k-state-focused {
	.lh-box-shadow (none);
	outline: 3px auto -webkit-focus-ring-color;
	outline: thin dotted \9;
}

.k-datepicker {
	background: none;
	margin: 5px;
	.k-icon.k-i-calendar {
		background: transparent left top no-repeat url('../images/calendarIcon.png');
		background-size: contain;
		display: block;
		width: 29px;
		height: 27px;

	}

	.k-picker-wrap {
		background: none;
		border: none;
		padding-right: 35px;
		.lh-box-shadow(none);
		&.k-state-default.k-state-hover {
			.k-select {
				background: none;
			}
			&:hover {
				.lh-box-shadow(none);
				border: none;
			}
		}
		&.k-state-default.k-state-border-down {
			padding-bottom: 0;
		}
		.k-input {
			.lh-border-radius (4px);
			background: none;
		}
		input[type="text"] {
			margin: 0;
			width: auto;
			height: auto;
			&:focus {

			}
		}

		.k-select {
			border: none;
			width: 31px;
			height: 27px;
			margin-left: 2px;
			position: static;
		}
	}
}

.k-state-disabled .k-input {
	color: #c9c9c9;
}

.k-calendar .k-state-selected.k-state-focused {
	border: none;
	.lh-box-shadow (none);
}

.k-multiselect-wrap li.k-button {
	margin: 1px 0 1px 1px;
}

div.k-multiselect-wrap.k-floatwrap, .k-state-default.k-state-hover {
	border: 1px solid #FFF;
	&:hover {
		//.lh-box-shadow(0 0 5px rgba(81, 203, 238, 1));
		border-color: #51cbee;
	}
}

.k-loading-image {
	background-image: url('../images/sprite_loading_v2.gif');
	z-index: 3;
}

.k-loading-text {
	width: 100%;
	height: 2em;
	overflow: visible;
	display: block;
	top: 50%;
	margin-top: -1em;
	line-height: 5.75em;
	text-indent: 0;
	color: #FFF;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: lowercase;
	z-index: 3;
	position: absolute;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -30px 0 0 -97px;
		width: 194px;
		height: 70px;
		background-color: #666;
		.lh-opacity (.80);
		z-index: -1;
		.lh-border-radius (10px);
	}
}

