.k-grid {
	border-top: none;
	td {
		border-color: #CCC;
		border-width: 0 0 1px 1px;
		white-space: nowrap;
		word-wrap: normal;
	}

	td.wraps {
		cursor: pointer;
	}

	tr.open td {
		white-space: normal;
		&.wraps {
			border: 1px solid #999;
			position: relative;
			&:after {
				content: '';
				width: 7px;
				height: 7px;
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				top: auto;
				background: #999;
			}

			&.selected {
				border: 1px solid #3295ce;
				&:after {
					background: #3295ce;
				}
			}
		}
	}

	.k-ie8 & tr.open td.wraps:after {
		display: none;
	}

	tr:last-child td {
		border-bottom-width: 0;
	}

	span {
		&.k-edit {
			display: none;
		}

		&.k-delete {
			display: none;
		}
	}

	a.k-button.k-grid-add {
		float: right;
		margin-right: 15px;
		width: auto;
		&:link , &:visited , &:hover , &:active {
			width: auto;
			margin-right: 15px;
			filter: none;
			background: none left top;
			border: none;
		}

		.k-icon {
			margin: 0;
		}

		.k-add {
			background: transparent url('../images/gridAddBtn.png') no-repeat left top;
		}
	}

	.k-grid-header {
		background: none;
		.lh-background-image(linear-gradient(to bottom, #a3a3a3 0%, #bababa 100%));
		.k-header {
			text-align: center;
			background: transparent;
			position: relative;
			.k-link {
				color: #FFF;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}

	.checkboxColumn {
		text-align: center;
		margin: 0;
		padding: 0;
	}

	input.toggleCheckbox {
		margin: 0 auto;
		text-align: center;
		padding: 0;
		display: block;
		text-overflow: clip;
	}
}

.k-tabstrip .k-grid {
	border: none;
}

.k-grid-content {
	margin: 0 auto;
	.k-state-selected a {
		&:link , &:visited , &:hover , &:active {
			color: #FFF;
		}
	}

	a {
		&:link , &:visited , &:hover , &:active {
			color: #2084BF;
			text-decoration: underline;
		}
	}

	a.k-button , a.k-button:hover {
		border: 1px solid #1C81BD;
		color: #FFF;
		min-width: 0;
		width: 100%;
		display: block;
		margin: 2px auto;
		zoom: 1;
		text-decoration: none;
	}
}

.k-window .k-widget.k-pager-wrap {
	z-index: 1;
}

.k-pager-wrap-wrapper {
	border-style: solid;
	border-color: #c5c5c5;
	border-width: 1px 0 0;
	padding: 2px 0 0 0;
	height: 34px;
	position: relative;
	overflow: hidden;
	.lh-background-image(linear-gradient(to bottom, @gradientGreyStop1 0%, @gradientGreyStop2 100%));

	.k-menu {
		float: left;
		margin: 2px 0 0 5px;
		.k-item {
			border: none;
		}
	}

	.k-widget.k-menu-horizontal > .k-item {
		border: none;
	}

	&.small {
		.k-pager-wrap , .itemsPerPageTab {
			display: none;
		}
	}

	&.medium {
		.pageJumpWrapper {
			position: absolute;
			width: 265px;
		}

		.k-pager-wrap {
			overflow: visible;
			right: 50px;
		}
	}
}

.k-pager-wrap {
	background: transparent;
	height: 31px;
	color: #777;
	position: absolute;
	right: -216px;
	top: 0;
	border: none;
	padding: 5px 0 0 0;
	z-index: 1;
	.k-dropdown {
		width: 50px;
	}

	.k-pager-sizes {
		padding: 0 0 0 55px;
		float: left;
		display: inline-block;
		.k-widget {
			margin: 0 0 0 8px;
		}
	}

	.k-pager-info {
		display: none;
	}

	.divider {
		border-left: 1px solid #bbb;
		display: inline-block;
		margin: 4px 5px 0 10px;
		padding: 0 0 0 10px;
		height: 20px;
		line-height: 16px;
		float: left;
	}

	.k-widget.pageJumpSelect {
		margin-top: 0;
		margin-right: 10px;
		vertical-align: baseline;
		float: left;
	}

	& > .k-link , .k-link:hover {
		.lh-border-radius (5px);
		border-color: #CCC;
		line-height: 22px;
		height: 22px;
	}
}

.k-grid-toolbar .k-pager-info {
	float: left;
	font-size: 13px;
	padding: 5px 0 0 5px;
}

.k-pager-numbers {
	.k-state-selected {
		.lh-border-radius (5px);
		border-color: #CCC;
		line-height: 22px;
		height: 22px;
		.k-link {
			color: #FFF;
		}
	}

	.k-link {
		&:link , &:visited , &:hover , &:active {
			font-weight: bold;
			color: #666;
			text-align: center;
			text-decoration: none;
			padding-top: 2px;
		}

		&:hover {
			padding-top: 0;
		}
	}
}

.pageJumpWrapper {
	background: transparent url('../images/pagerBg.png') right -8px no-repeat;
	float: left;
	position: relative;
	margin-top: -5px;
	padding: 5px 0 0 0;
	height: 36px;
	white-space: nowrap;
}

.pagerJumpMenuCloseBtn {
	cursor: pointer;
	width: 31px;
	height: 34px;
	background: transparent;
	position: absolute;
	top: 0;
	right: 210px;
}

.gridActionsMenu {
	position: absolute;
	float: left;
	left: 3px;
	bottom: 3px;
	li.k-item {
		border: none;
	}
}

.itemsPerPageTab {
	display: block;
	color: #333333;
	line-height: 36px;
	padding: 0 12px 0 24px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0px;
	background: transparent url('../images/pagerBgClosed.png') left -8px no-repeat;
	background-size: 175px 50px;
	z-index: 2;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) , only screen and (min-device-pixel-ratio: 1.5) {
	.itemsPerPageTab {
		background-image: url('../images/pagerBgClosed@2x.png');
	}
}

.k-tabstrip {
	.k-pager-wrap-wrapper {
		border-bottom-width: 1px;
	}

	.gridActionsMenu {
		left: 7px;
		bottom: 4px;
	}
}

