
div.k-window {
	&.editHistoryWindow {
		border: 1px solid #CCC;
		.lh-border-radius(0);
		.lh-box-shadow(none);
		.lh-box-sizing (border-box);
		position: relative;
	}

	&.detailsWindow {
		.k-window-content {
			padding: 0;
		}

		.k-window-titlebar {
			font: normal 19px / 21px Arial, sans-serif;
			color: #333;
			.lh-background-image(linear-gradient(to bottom, @gradientGreyStop1 0%, @gradientGreyStop2 100%));
		}

		.cmcWP {
			padding: 10px;
			border: none;
		}

		h4 {
			font: normal 12px / 20px Arial, sans-serif;
			margin: 0 0 30px 0;
		}

		.k-grid-toolbar {
			border-top: 1px solid #8A8A7B;
			min-height: 26px;
		}
	}

	& > div.k-popup-edit-form.k-window-content {
		padding: 4px 0 1em 0;
	}

	&.popUpWindow {
		width: 60%;
	}

	&.verifyWindow {
		width: 60%;
	}

	&.smallWindow {
		margin: 0 0 20px 0;
		width: 35%;
		.control-group {
			margin: 10px 0 20px 30px;
		}
	}

	&.statusWindow {
		width: 75%;
	}

	&.messageWindow {
		width: 40%;
	}

	@media (max-width: 979px) {
		&.popUpWindow {
			width: 80%;
		}

		&.verifyWindow {
			width: 70%;
		}

		&.smallWindow, &.messageWindow {
			width: 50%;
		}

		&.statusWindow {
			width: 90%;
		}
	}

	@media (max-width: 767px) {
		&.smallWindow {
			width: 50%;
		}
	}

	@media (max-width: 728px) {
		&.verifyWindow {
			width: 80%;
		}
	}

	@media (max-width: 612px) {
		&.smallWindow, &.messageWindow {
			width: 70%;
		}

		&.verifyWindow {
			width: 90%;
		}
	}

	@media (max-width: 480px) {
		&.popUpWindow {
			width: 100%;
		}

		&.verifyWindow {
			width: 100%;
		}

		&.smallWindow, &.messageWindow {
			margin: 0;
			width: 100%;
		}

		&.statusWindow {
			width: 100%;
		}
	}

	.addBusinessUnitBtn {
		display: inline-block;
		margin-left: 5px;
		width: 17px;
		height: 17px;
		vertical-align: baseline;
		background: transparent url('../img/u2139_normal.png') no-repeat left top;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}

	.detailsWindowTop {
		display: block;
		height: 20px;
		border-top: 1px solid #8A8A7B;
		border-bottom: 1px solid #CCC;
		background-color: #EEE;
	}
}

div.k-window-content {
	padding: 0;
}

