.tooltipStyles() {
	margin: 0;
	padding: 0;
	display: block;
	h4 {
		margin: 0;
		padding: 12px 10px;
		font: normal 14px / 17px Arial, sans-serif;
		color: #547FFF;
		background-color: #FFFFFF;
		.lh-border-radius (5px);
		text-align: left;
	}

	.callout {
		position: absolute;
		bottom: -10px;
		left: 49.5%;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: #e9e9e9 transparent transparent transparent;
	}

	.outerborder {
		border: 1px solid #e9e9e9;
		border-width: 1px;
		display: block;
		padding: 6px;
		margin: 0;
		.lh-background-image(linear-gradient(to bottom, #d8d8d8 0%, #e9e9e9 100%));
		.lh-border-radius (10px);
		.lh-box-shadow (1px 1px 5px 1px rgba(0, 0, 0, 0.1));
	}
}