@import 'cmc-mixins';

h3 {
	font-size: 19px;
	line-height: 1em;
	font-weight: normal;
	color: #333;
	margin: 0;
	padding: 7px 0 9px 7px;
	border-bottom: 1px solid #A1A1A1;
	.lh-background-image(linear-gradient(to bottom, @gradientGreyStop1 0%,@gradientGreyStop2 100%));
}

h4 {
	margin: 5px 0;
	padding-left: 10px;
	font: normal 15px / 20px Arial, sans-serif;
	color: #878787;
}

dt {
	font: normal 12px / 12px Arial, sans-serif;
	white-space: nowrap;
	color: #333333;
}

dd {
	font: normal 12px / 12px Arial, sans-serif;
	margin: 10px 0;
	color: #007FFF;
}

input, textarea, select {
	margin: 0;
	height: auto;
	width: auto;
	.lh-box-shadow(none);
}

input[type="text"], textarea {
	.lh-transition (all 0.3s ease-in-out);
	outline: none;
	padding: 5px;
	margin: 5px;
	border: 1px solid #DDDDDD;
	&:focus {
		.lh-box-shadow (0 0 5px @highlightBorderColor);
		border: 1px solid @highlightBorderColor;
	}
}

textarea {
	height: 75px;
}

@media (max-width: 767px) {
	input[type="text"], textarea, select {
	}
}

input[type="text"] {
	line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
}

label {
	font: normal 12px / 12px Arial, sans-serif;
	white-space: nowrap;
	cursor: default;
}

fieldset {
	border: none;
	padding: 0px;
	.row {
		margin: 0;
	}

	.row-fluid {
		min-height: 90px;
		[class *= "span"]:first-child {
			padding-left: 20px;
		}
	}
}

p.legend {
	float: left;
	border: none;
	width: auto;
	margin: 5px 0 30px 10px;
	font: normal 12px / 20px Arial, sans-serif;
}

.readMode {
	p.legend {
		margin-right: 30px;
	}

	dd.notefield {
		color: #999999;
		margin-right: 10px;
		margin-bottom: 15px;
	}
}

.formNote {
	float: right;
	margin: 5px;
	padding: 0 5px 0 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.formInfo {
	display: block;
}

.notesContainer {
	border-bottom: 1px solid @outerBorderColor;
	margin-top: 10px;
	[class *= "span"] {
		min-height: 0;
	}
}

.decimalValue {
	text-align: right;
}

.customizeRow {
	background-color: #eee;
	border-bottom: 1px solid @outerBorderColor;
	text-align: right;
	padding-right: 10px;
	margin: 0;
	height: 20px;
}

.controls {
	position: relative;
	white-space: nowrap;
	.k-widget {
		margin: 0;
		display: inline-block;
		width: 85%;
		height: auto;
		&.k-tooltip {
			width: auto;
		}
	}
}

.control-group {
	vertical-align: top;
	label {
		margin-right: 10px;
	}
}

@media (max-width: 767px) {
	.control-group {
		vertical-align: top;
		width: 100%;
		padding-left: 20px;
	}

	.controls .k-widget {
		width: 92%;
	}
}

.checkbox-group input[type="checkbox"] {
	margin-right: 5px;
	white-space: nowrap;
	&:first-child {
		margin-left: -10px;
	}
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
	border-color: rgba(82, 168, 236, .8);
	.lh-box-shadow (~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
}

.required {
	border-left: 4px solid @requiredBlue;
	padding-left: 5px;
	margin-left: -10px;
	&.invalid {
		border-left-color: #FF0000;
	}
}

&.checkOverflowTooltip.k-widget.k-tooltip {
	.textOverflowTooltip {
		.tooltipStyles ();
	}

	margin: 0;
	padding: 0;
	.lh-box-shadow (none);
	background: transparent;
	border: none;
}

.validationErrorMessage {
	display: block;
	position: absolute;
	left: 87%;
	top: -4px;
	z-index: 10008;
	p {
		color: #646472;
		display: block;
		margin: 0;
		padding: 2px 10px;
		font-weight: bold;
		border: 0px solid red;
		background-color: white;
		.lh-border-radius (6px);
	}

	.icon {
		position: absolute;
		left: 0;
		top: 3px;
		display: block;
		width: 14px;
		height: 26px;
		background: transparent url('../img/exclamationpoint.png') top left no-repeat;
		vertical-align: middle;
	}

	.outerborder {
		position: absolute;
		left: 35px;
		background-color: red;
		border: 1px solid red;
		border-width: 0px 12px 0px 4px;
		display: block;
		padding: 4px;
		margin: 0;
		.lh-border-radius (10px);
		.lh-box-shadow (5px 5px 11px 1px rgba(0, 0, 0, .2));
	}

	.callout {
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 20px 5px 0;
		border-color: transparent #FF0000 transparent transparent;
		border-right-color: red;
		top: 10px;
		left: 15px;
	}
}

.validationErrMsg {
	display: block;
	position: absolute;
	left: 5%;
	top: -35px;
	z-index: 10008;
	.outerborder {
		position: absolute;
		left: 0px;
		background-color: red;
		border: 1px solid red;
		border-width: 0px 12px 0px 4px;
		display: block;
		padding: 4px;
		margin: 0;
		.lh-border-radius (10px);
		.lh-box-shadow (1px 1px 5px 1px rgba(0, 0, 0, 0.25));
		p {
			font-weight: normal;
			color: #646472;
			display: block;
			margin: 0;
			padding: 2px 10px;
			border: 0px solid red;
			line-height: 20px;
			background-color: white;
			.lh-border-radius (6px);
		}
	}

	.callout {
		position: absolute;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: #ff0000 transparent transparent transparent;
		top: 25px;
		left: 15px;
	}
}

.errorLeft .validationErrorMessage {
	right: 102%;
	top: -4px;
	left: auto;
	.icon {
		left: auto;
		right: 0;
	}

	.outerborder {
		left: auto;
		right: 34px;
		border-width: 0px 4px 0px 12px;
	}

	.callout {
		border-width: 5px 0 5px 20px;
		border-color: transparent transparent transparent #FF0000;
		left: auto;
		right: 15px;
	}
}

.errorBottom .validationErrorMessage {
	top: auto;
	bottom: 30px;
	.callout {
		border-width: 5px 0 5px 20px;
		border-color: transparent transparent transparent #FF0000;
		left: auto;
		right: 15px;
	}
}

.expandable {
	position: relative;
	.expandBtn {
		font: normal 14px / 17px Arial, sans-serif;
		color: #007FFF;
		cursor: pointer;
		position: absolute;
		right: 10px;
		text-decoration: underline;
		padding-left: 10px;
		white-space: nowrap;
	}

	&.hideExpandBtn {
		.expandBtn {
			display: none;
		}
	}

	.sizeTest {
		text-overflow: ellipsis;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: auto;
		height: auto;
		visibility: hidden;
		z-index: -10;
		top: 0;
		right: 0;
		max-width: 500px;
	}

	.content {
		display: none;
		position: absolute;
		top: -1px;
		left: -1px;
		right: -1px;
		height: auto;
		white-space: normal;
		line-height: 1.2em;
		z-index: 100;
		.expandBtn {
			display: inline;
			position: relative;
			top: auto;
			left: auto;
			right: auto;
		}
	}
}

.OnePxLine {
	margin: 0 0 10px 0;
	padding: 0;
	background-color: #CCCCCC;
	height: 1px;
	clear: both;
	@media (max-width: 480px) {
		background-color: #888888;
	}
}

