.cmcWP h3, div.k-window.detailsWindow .k-window-titlebar, .k-pager-wrap-wrapper, .k-button.cancelBtn, .k-button.cancelBtn:hover, .k-tabstrip-items .k-link,
	.k-grid-cancel,.k-grid-cancel:active,.k-grid-cancel:hover,.k-draghandle.k-state-selected:hover,.k-secondary .k-grid-cancel:hover,
	.k-button,.k-button:active,.k-button:hover,.k-secondary .k-button:hover , 
	.gradient,
	.k-state-selected,
	.k-state-selected:hover, 
	.k-list > .k-state-selected,
	.k-draghandle.k-state-selected:hover, 
	.k-button,
	.k-button:active, 
	.k-draghandle.k-state-selected:hover,
	tbody .k-button,
	.outerborder,
	.ciItem,
	.breadcrumbContainer {
	filter: none !important;
	
}
