@import (reference) '../bower_components/lesshat/build/lesshat-prefixed.less';
@import 'variables.less';
@import 'dev/dev.SeattleOverrides.less';

@import "kendo/kendo.window.less"; // some windows attached to root, they dont have .cmcWP
@import "kendo/kendo.global.less";

.cmcWP {
	font: normal 12px/20px Arial, sans-serif;
	position: relative;
	border: 1px solid @outerBorderColor;
	margin-bottom: 10px;
	.lh-box-sizing(border-box);
	@import 'dev/dev.styles.less';
	@import 'dev/dev.header.less';
	@import "html.less";
	@import "kendo/kendo.less";
}