
//bootstrap size stops
//1200
//@media (min-width: 1200px) {
//
//768
//@media (min-width: 768px) and (max-width: 979px) {
//
//767
//@media (max-width: 767px) {
//@media (max-width: 480px) {



@gradientGreyStop1: #f7f7f7;
@gradientGreyStop2: #d4d4d4;
@gradientBlueStop1: #197dba;
@gradientBlueStop2: #3c9ed6;
@gradientCancelStop1:#EEEEEE;
@gradientCancelStop2:#CACACA;

@outerBorderColor: #DFDFD0;
@requiredBlue: #3295CE;

@highlightBorderColor: #51cbee;

//
@portalDotOnGreenStop1: #00B72E;
@portalDotOnGreenStop2: #00F33C;
@portalTitleBarGreenStop1: #7DF69B;
@portalTitleBarGreenStop2: #00ED3B;
//
@portalDotOnBlueStop1: #1479B6;
@portalDotOnBlueStop2: #3093CD;
@portalTitleBarBlueStop1: #85C2E4;
@portalTitleBarBlueStop2: #3C9CD3;
//
@ecoDotOnGreenStop1: #77A22F;
@ecoDotOnGreenStop2:#A9D264;
@ecoTitleBarGreenStop1:#AAC57C;
@ecoTitleBarGreenStop2:#C2D6A3;
//
@ecoDotOnBlueStop1: #3C6E8F;
@ecoDotOnBlueStop2:#4297CA;
@ecoTitleBarBlueStop1:#BCCFDA;
@ecoTitleBarBlueStop2:#89A8BC;

// Media queries breakpoints from bootstrap 3
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

