/* ----- seattle master page items -------- */
#sideNavBox, #titleAreaBox{
	display: none;
}
#s4-titlerow{
	margin: 0;
	padding: 0;
	height: 0;
}
#contentBox {
	margin: 0px;
	min-width: 0px;
	padding: 0;
}
#contentRow{
	padding: 0;
}
//TODO:
.k-icon, .k-tool-icon, .k-grouping-dropclue, .k-drop-hint, .k-column-menu .k-sprite {
//	background-image: url('@{kendoImageDir}/sprite.png');
	border-color: transparent;
}
