header&  {
	position: relative;
	margin-bottom: 20px;
	min-width: 960px;
	.lh-background-image(linear-gradient(to bottom, #eeeeee 0%, #d4d4d4 100%));
	nav {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				display: block;
				float: left;
			}

		}

		&[role='application navigation'] {
			float: right;
			padding: 0 20px;
			border: 1px solid #95C8E6;
			border-left-color: #FFF;
			border-width: 0 0 1px 1px;
			.lh-background-image(linear-gradient(to bottom, #97c9e6 0%, #3697cf 100%));
			a {
				display: block;
				padding: 5px;
				&:link, &:visited, &:hover, &:active {
					color: #FFF;
					text-decoration: none;
				}
				&:after {
					content: " \00a0 |";
				}
			}
			li:last-child a:after {
				content: ' ';
			}
		}
		&[role='main navigation'] {
			display: block;
			padding-top: 50px;

			li:first-child a {
				border-left: 1px solid #C0C0C0;
			}

			> ul {
				padding-left: 135px;
				background: blue;
				border-top: 1px solid #BDBDBD;
				border-bottom: 1px solid #BDBDBD;
				.lh-background-image(linear-gradient(to bottom, #e3e3e3 0%, #d6d6d6 100%));
			}

			ul.dropdown-menu li {
				display: block;
				float: none;
				height: auto;
				a {
					border: none;
					padding: 5px 0 5px 10px;
				}
			}
			a {
				display: block;
				padding: 15px 20px;
				border-right: 1px solid #C0C0C0;
				&:link, &:visited, &:hover, &:active {
					color: #333;
					text-decoration: none;
				}
			}
		}
		&[role='breadcrumb navigation'] {
			a {
				display: block;
				padding: 10px 0;
				font-size: 14px;
				float: left;
				&:link, &:visited, &:hover, &:active {
					color: #333;
					text-decoration: none;
					&.headerBreadcrumbCurrent {
						color: #007FFF;
						float: left;
						&:after {
							content: '';
						}
					}
				}
				&:after {
					content: " \00a0 \003e \00a0 \00a0";
				}
			}
		}
	}

	.greeting {
		background-color: @requiredBlue;
		border: 1px solid #95C8E6;
		border-width: 0 0 1px 1px;
		.lh-border-bottom-left-radius(5px);
		display: block;
		min-width: 275px;
		color: #FFF;
		text-align: right;
		float: right;
		padding: 5px 20px 5px 0;
	}
	.logo {
		position: absolute;
		top: 15px;
		left: 30px;
		text-indent: 200%;
		white-space: nowrap;
		overflow: hidden;
		float: left;
		background: transparent url('../images/logo.png') no-repeat left top;
		width: 74px;
		height: 75px;
		display: block;
		margin: 0;
	}

	.breadcrumbContainer {
		position: relative;
		padding-left: 20px;
		border-bottom: 1px solid @requiredBlue;
		.lh-box-shadow(inset 0px 6px 6px rgba(0, 0, 0, .1));
		.lh-background-image(linear-gradient(to bottom, #ececfb 0%, #eeeeef 100%));
		.s4-breadcrumb-arrowcont {
			display: none;
		}

		fieldset {
			white-space: nowrap;
			position: absolute;
			top: 7px;
			right: 20px;
		}

		label {
			display: inline-block;
			vertical-align: middle;
			color: #21374C;
			font-size: 12px;
			margin: 0 5px 2px 0;
		}

		input {
			margin: 0;
			font-size: 12px;
			padding: 2px 25px 2px 5px;
			.lh-border-radius(0);
			width: auto;
			height: 20px;
			line-height: normal;
		}

		button {
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			width: 20px;
			height: 20px;
			border: none;
			margin-left: -26px;
			padding: 0;
			min-width: 0;
			.lh-background-image(linear-gradient(to bottom, #00b5e7 0%, #21374c 100%));
		}
		.headerBreadcrumbRoot, .headerBreadcrumbInner {
			float: left;
		}
	}

}
