
// ----- temporary items -------- 
.widthExample {
	padding: 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid @outerBorderColor;
	.lh-background-image(linear-gradient(to bottom, @gradientGreyStop1 0%,@gradientGreyStop2 100%));
}
